/* body{
    background-color: aquamarine;
}
h3{
    color: brown;
    font-size: 40px;
}
h1{
    font-size: 30px;
}
form{
    text-align: center;
}
label{
    font-family: 'Courier New', Courier, monospace;
}
button{
    font-family: 'Courier New', Courier, monospace;
} */
 *{
    font-family: 'Courier New', Courier, monospace;
    background-color: aquamarine;
 }
 #main-heading{
    color: rgb(40, 135, 103);
 }
 .field-label{
    color: rgb(40, 135, 103);
    font-weight: bold;
 }
 #btn{
    color: aquamarine;
    background-color: rgb(40, 135, 103);
 }